*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    height: 15vh;
}

.headerClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sectionClass{
    height: 80vh;
    background-color: rgba(222, 224, 224, 0.377);
}

.footer{
    height: 5vh;
    padding: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.footerClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionClass{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 50px;
    column-gap: 2vw;
}

.thumbnail{
    background-color: white;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 2vh;
}

.subSection3{
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    gap: 12vw;
}

.subSection1{
    height: 50%;
    width: 100%;
    background-color: rgb(78, 75, 75);
    color: white;
    text-align: center;
    padding-top: 4vh;
}

table{
    border: 1px solid black;
}

.blueButton{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

.greyButton{
    background-color: grey;
    color: white;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 1200px){
    .sectionClass{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 80%;
    }
}